.my-custom-style {
    color: blue;
    font-size: 18px;
    font-style: italic;
    }


h1 {
    color: violet;
    font-size : 36px;
    font-weight: bold;
    text-align: center;
    }

.text2 {
    color: Blue;
    background-color: antiquewhite;
    }

.text-base {
    color: grey;
    font-size: 30px;
    }

.title-text{
    font-size : 18px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    font-weight: bold
    }